@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050507;
  color: #e5e7eb;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* Active nav link */
a.active hr {
  display: block;
}
